
#main_container {
    width: 600px; 
    height: auto; 
    position: relative;
    margin-left: 300px;
}

#main_container img{ 
    width: 100%; 
    height: auto; 
}

#container {
max-width: 600px;
overflow: hidden;
position: absolute;
top: 75px;
left: 0;
z-index: 1;
height: 145px;
}

.stage_animation {
/* nasconde tutto ciò che è al di fuori dell'area dell'elemento. */
overflow: hidden;
/* impedisce al testo all'interno dell'elemento di andare a capo */
white-space: nowrap;
display: inline-block;
animation: stage_animation 5s linear infinite;
margin-top: 25px;
}
.stage_animation p {
display: inline-block;
font-family: arial;
color: white;
font-size: 30px;
}

@keyframes stage_animation {
    0% {
    transform: translate3d(0, 0, 0);
    }
    100% {
    transform: translate3d(-50%, 0, 0);
    }
}